global
  log stdout format raw local0

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend otlp_grpc
  bind *:4317
  default_backend otel_collectors_grpc

backend otel_collectors_grpc
  balance roundrobin
  server collector1 otel-custom-collector:4317 resolvers docker resolve-prefer ipv4

frontend otlp_http
  bind *:4318
  default_backend soc_intake_gateway

backend soc_intake_gateway
  balance roundrobin
  server intake1 soc-intake-gateway:8080 resolvers docker resolve-prefer ipv4

resolvers docker
  nameserver dns1 127.0.0.11:53
